@font-face {
  font-family: 'DINNextArabicBold';
  src: url('assets/ArbFONTS-DINNextLTArabic-Bold-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html[lang^="ar"] .COUTURE-Hover .collection p,
html[lang^="ar"] .COUTURE-Hover .collection h1,
html[lang^="ar"] .COUTURE-Hover .booknow h1 {
  text-align: right !important;
  direction: rtl;
}

html[lang^="ar"] .bride-Hover .collection h1,
html[lang^="ar"] .bride-Hover .booknow h1 {
  text-align: right !important;
  direction: rtl;
}

html[lang^="ar"] .bride-Hover .collection h1{
  margin-right: 0 !important;
}

html[lang^="ar"] .COUTURE-Hover .collection h1{
  margin-right: 0 !important;
}

html[lang^="ar"] .product-show .part-2 p span{
      word-spacing: 1px;
}

html[lang^="ar"] .COUTURE-Hover .collection{
  padding: 0 0 0 45.54px !important;
}

// html[lang^="ar"] .bride-Hover .collection-book-now-parent{
//   gap: 60px !important;
// }
html[lang^="ar"] .bride-Hover,
html[lang^="ar"] .COUTURE-Hover {
      @media screen and (max-width: 1024px) and (min-width: 768px) {
        padding: 20px 20px 20px 0;
    }
}

html[lang^="ar"] .logo-section {
    padding: 62px 60px 0px 0;
    width: 100%;
}

html[lang^="ar"] .footer-section {
    width: 100%;
    padding: 0 100px 0 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'MyCustomFont', Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.weglot-container {
  display: none !important;
}

body.arabic {
  font-family: 'DINNextArabicBold', sans-serif;
}
